/*body {
	
	text-align: center;
	border: 1px solid green;
	margin-left: 50px;
	margin-right: 50px;
	
}*/
body {
	
	margin: auto;
	
	text-align: center;
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSQWlWoN-r8Tb2MVUGKxxrfRfWVRhO-AQYwFepfRhS45_7WmcTZng);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*#body-image {
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}*/


h1 {
	
	font-family: 'Shrikhand', cursive;
	color: #333;
	
	margin-top:10px;

}

.header-image_priya {
	width:20%;
	border-radius: 50%;
	margin-left: auto;
	border: 1px solid #333;
}



h2 {
	font-size: 15px;
	text-align: left;
	font-family: 'Shrikhand', cursive;
	color: #AED6F1  ;
	background-color: #Efefef;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 1em;
}



.github-logo {
	width: 20px;
	height: 20px;
	margin-bottom: .5em;
}

.linkedin-logo {
	margin-bottom:.5em ;

}

.gmail-logo {
	width:20px;
	height: 20px;
	margin-bottom: .5em;
}

.link {
	color: #333;
}

.para-width {
	border: 3px solid #333;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	border: 3px solid #333;
	
}



















